html{
	font-family: 'Open Sans Condensed', sans-serif;
}

body{
	background-color: #d1cccc;
}

.desktop-nav{
	font-size: 22px;
	color: white;
	display: flex;
	height: 64px;
	position: fixed;
	background-color: red;
	width: 100%;
	align-items: center;
	justify-content: space-around;
	z-index: 1;
}

.desktop-nav a{
	color: white;
}

.nav-item a:hover{
	color: #f48484;
}

.mobile-nav{
	display: none;
}

.main{
	text-align: center;
}

.text{
	padding: 150px 50px;
	text-align: center;
	font-size: 25px;
}

.form{
	padding: 100px 400px;
	font-size: 20px;
}

.contact{
	padding: 200px 400px;

}

.contact p{
		padding: 20px;
		background-color: white;
}

.mobile-paragraph{
	display: none;
}

.mobile-form{
	display: none;
}

.mobile-contact{
	display: none;
}
/*Mobile Screen Viewing*/

@media only screen and (max-width: 470px){

	/*navigation bar*/

.desktop-nav{
	display: none;
}

.mobile-paragraph{
	padding-top: 30px;
	padding-bottom: 30px;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: red;
	width: 950px;
	font-size: 30px;
}

.mobile-form{
	padding: 50px;
	width: 950px;
	display: inline-block;
	text-align: center;
	}

.mobile-form p{
	text-align: center;
	font-size: 30px;
}	

.mobile-contact{
	display: inline-block;
	text-align: center;
	font-size: 30px;
	background-color: red;
	color: white;
	width: 950px;
	padding: 20px;

}
.mobile-contact a{
	color: white;	
}
}
