html{
	font-family: 'Open Sans Condensed', sans-serif;
}

body{
	background-color: #d1cccc;
}

.desktop-nav{
	font-size: 22px;
	color: white;
	display: flex;
	height: 64px;
	position: fixed;
	background-color: red;
	width: 100%;
	align-items: center;
	justify-content: space-around;
	z-index: 1;
}

.desktop-nav a{
	color: white;
}

.nav-item a:hover{
	color: #f48484;
}

.mobile-nav{
	display: none;
}

.main{
	text-align: center;
}

.text{
	padding: 150px 50px;
	text-align: center;
	font-size: 25px;
}

.form{
	padding: 100px 400px;
	font-size: 20px;
}

.contact{
	padding: 200px 400px;

}

.contact p{
		padding: 20px;
		background-color: white;
}

/*Mobile Screen Viewing*/

@media only screen and (max-width: 470px){

	/*navigation bar*/

.desktop-nav{
	display: none;
}

.mobile-nav{
	display: flex;
	font-size: 55px;
	color: white;
	display: flex;
	height: 250px;
	position: fixed;
	background-color: red;
	width: 100%;
	z-index: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 30px;
}

.mobile-nav a{
	color: white;
}

.mobile-nav-item a:hover{
	color: #f48484;
}

.main{
	padding-top: 250px 
}

.text{
	padding-top: 250px;
}

	}